@import "./layout.scss";

@mixin btn($size:14px,$color:#fff,$bgcolor:#F04752,$padding:5px,$radius:5px){
	padding:$padding;
	background-color:$bgcolor;
	border-radius:$radius;
	border:1px solid $bgcolor;
	font-size:$size;
	color:$color;
	text-align:center;
	line-height:1;
	display:lnline-block;
}



@mixin list($direction:column){
	@include flex($direction);
}