header {
	background: url(images/osmag-logos.png) no-repeat 0 0;
}

#mainNav li a:hover {
	color: #088fff;
}

#across {
	border-top: 2px solid #444;
	background: #000
}

#container {
	background: url(images/osmag-container-bg.png) no-repeat 50%
-30px;
}

#container2 {
	background: url(images/osmag-earth.jpg) no-repeat 50% 0;
}

h2.thisMonth {
	color: #fff;
}

h2.pastIssues {
	color: #222;
}

article h2 {
	background: url(images/pngs/highlight-border.png) repeat-x 0
bottom;
}

.comments {
	background: url(images/pngs/comments-icon.png) no-repeat 0 0;
}

/*------------------REUSABLE GRAPHIC TREATMENTS ------------------
-*/
/*reusable image backgrounds*/
.img-quote-light {
	background: url(images/pngs/r-quotes-light.png) no-repeat -10px
-7px;
	text-indent: 55px;
}

.img-quote-dark {
	background-image: url(images/pngs/r-quotes-dark.png);
	background-repeat: no-repeat;
	background-position: -10px -7px;
	text-indent: 55px;
}

.img-bottom-shadow {
	background: url(images/pngs/bot-r-shadow.png) no-repeat 50%
bottom;
}

.img-top-shadow {
	background: url(images/pngs/top-r-shadow.png) no-repeat 50% 0;
}

.img-line-hz {
	background: url(images/pngs/highlight-border.png) repeat-x left
bottom;
}

header {
	height: 100px;
	background-position: 0 -220px;
}

#mainNav {
	top: 100px;
}

#mainNav li {
	background: url(images/pngs/highlight-border.png) repeat-x 0
bottom;
}

#container2 {
	background-position: 70% -90px;
}

header {
	height: 70px;
	background-position: 0 -425px;
}

#mainNav {
	top: 70px;
}

#mainNav li {
	background: url(images/pngs/highlight-border.png) repeat-x 0
bottom;
}

#mainNav li a {
	padding: 10px
}