/*------------------TYPOGRAPHY -------------------*/
/*
Set font stacks here
Assign default colors only. Otherwise color is handled at BOTTOM
of sheet.
*/
body {
	font-family: 'Trebuchet MS', Helvetica, Arial, Verdana, sans-serif;
}

h1, h3, h5 {
	font-family: Helvetica, Arial, sans-serif;
}

h2, h4, h6 {
	font-family: 'Helvetica Neue', Helvetica, 'Arial Condensed', Arial,
sans-serif;
}

a {
	font-family: Helvetica, Arial, sans-serif;
}

pre, code {
	font-family: Courier, monospace;
}