/*------------------TYPOGRAPHY -------------------*/
/*
Set font stacks here
Assign default colors only. Otherwise color is handled at BOTTOM
of sheet.
*/
body {
	font-family: 'Trebuchet MS', Helvetica, Arial, Verdana, sansserif;
	font-size: 0.9em;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
	margin: 20px 0 10px 0;
}

h1, h3, h5 {
	font-family: Helvetica, Arial, sans-serif;
	line-height: 120%;
	color: #666;
}

h2, h4, h6 {
	font-family: 'Helvetica Neue', Helvetica, 'Arial Condensed',
Arial, sans-serif;
	line-height: 110%;
	color: #999;
}

a {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #666;
	font-weight: 100;
	text-decoration: none;
}

pre, code {
	font-family: Courier, monospace;
	font-size: 100%;
	margin-bottom: 10px;
}

h1 {
	font-size: 280%;
	font-weight: 600;
}

h2 {
	font-size: 220%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

h3 {
	font-size: 180%;
}

h4 {
	font-size: 200%;
	color: #999
}

h5 {
	font-size: 115%;
}

h6 {
	font-size: 100%;
}

p {
	line-height: 150%;
	margin-bottom: 170%;
}

/* Text meant only for screen readers */
.screen-text{
	position: absolute;
	left: -5000em;
}