/*------------------ STANDARD STYLING -------------------*/
header {
	height: 110px;
}

#mainNav {
	position: absolute;
	top: 110px;
	width: 100%;
}

#mainNav li a {
	display: block;
	padding: 10px 15px 13px 15px;
	line-height: 100%;
	-size: 120%;
	border: none;
	color: #036;
}

#across {
	margin: 0;
	width: 100%;
}/*for a stretched bottom only*/
h2.thisMonth {
	font-size: 260%;
}

.content {
	margin-top: 250px;
}

.sidebar {
	margin-top: 150px;
}

.sidebar div {
	margin-top: 30px;
	padding-bottom: 10px;
}

.sidebar h2 {
	margin-left: 20px;
}