/*------------------REUSABLE GRAPHIC TREATMENTS ------------------
-*/
/*main background colorscheme*/
.bg-main {
	background-color: #222;
}

.bg-secondary {
	background-color: #666;
}

.bg-tertiary {
	background-color: #999;
}

.bg-light1 {
	background-color: #eee;
}

.bg-light2 {
	background-color: #ddd;
}

.bg-dark1 {
	background-color: #000;
}

.bg-dark2 {
	background-color: #444;
}

.grd-vt-main {
	background: linear-gradient(top, #333, #000);
}

.grd-vt-secondary {
	background: linear-gradient(top, #555, #222);
}

.grd-vt-tertiary {
	background: linear-gradient(top, #ddd, #999);
}

/*borders*/
.bdr {
	border: 1px solid;
}
/*apply thickness*/
.bdr-2px {
	border: 2px solid;
}
/*pick a side*/
.bdr-top {
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.bdr-left {
	border-top: none;
	border-right: none;
	border-bottom: none;
}

.bdr-right {
	border-left: none;
	border-top: none;
	border-bottom: none;
}

.bdr-bottom {
	border-left: none;
	border-right: none;
	border-top: none;
}
/*leverage selectors for border colors
-be sure to apply your rules in this order*/
.bg-main.bdr {
	border-color: #aaa;
}

.bg-secondary.bdr {
	border-color: #999;
}

.bg-tertiary.bdr {
	border-color: #eee;
}

/*rounded corners*/
.rnd
border-radius: 5px;
}
/*only two corners*/
.rnd-top {
border-radius: 5px 5px 0 0;
}

.rnd-left {
border-radius: 5px 0 0 5px;
}

.rnd-right {
border-radius: 0 5px 5px 0;
}

.rnd-bottom {
border-radius: 0 0 5px 5px;
}

/*box-shadows*/
.shdw-centered {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.shdw-offset {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}